<!-- BEGIN footer -->
<%_
  var email = config.contact;
  if(page.author_email)
    email = page.author_email;
  var cb = typeof config.copyright_begin !== 'object'
    ? (config.copyright_begin || '').toString()
    : config.copyright_begin.getFullYear();
  var fullcopy = `Copyright © ${cb}-${new Date().getFullYear()} by ${config.title || ''}`;
  function btoa(str)
  {
    return (new Buffer(str)).toString('base64');
  }
_%>

<footer class="page-footer <%- min ? 'min' : ''%>">
  <%_ if(min) { _%>
    <p class="contact">
      <%_ if(page.author) { _%>
        <span class="section">
          <a id="footer-author-link" data="<%- btoa(btoa(btoa(email))) %>" title="联系作者">
            <img class="gravatar" src="<%- gravatar(email,{d:'identicon'}) %>" />
            <span><%= page.author %></span>
          </a>
        </span>
      <%_ } _%>
      <span class="section" title="<%- full_date(page.date) %>">创建于 <time datetime="<%- date_xml(page.date) %>" pubdate="pubdate"><%- date(page.date) %></time></span>
      <%_ if(date(page.date) !== date(page.updated)) { _%>
        <span class="section" title="<%- full_date(page.updated) %>">最后更新于 <time datetime="<%- date_xml(page.updated) %>"><%- date(page.updated) %></time></span>
      <%_ } _%>
    </p>
    <p class="copyright" title='<%= fullcopy %>
<%= config.ICP %>'>© <%- new Date().getFullYear() %> <%= config.title %></p>
  <%_ } else { _%>
    <p><%= fullcopy %></p>
    <p><%- link_to('http://www.miitbeian.gov.cn', config.ICP, {external: true}) %></p>
    <p><%- link_to('http://www.eiri.tsinghua.edu.cn', '清华大学能源互联网创新研究院', {external: true}) %></p>
  <%_ } _%>
  <%- js('/js/footer') _%>
</footer>
<!-- END footer -->