<!-- BEGIN footer -->
<%
  var email = config.contact;
  if(page.author_email)
    email = page.author_email
%>

<div class="footer <%- min ? 'min' : ''%>">
  <hr>
  <% if(min) { %>
    <p>
      <% if(page.author) { %> 
        <a href="mailto:<%= email %>" title="联系作者">
          <img class="gravatar" src="<%- gravatar(email) %>" />
          <span><%= page.author %></span>
        </a>
      <% } %> 
      创建于 <time datetime="<%- page.date.format() %>" pubdate="pubdate"><%- date(page.date) %></time>
      <% if(date(page.date) !== date(page.updated)) { %> 
        最后更新于 <time datetime="<%- page.updated.format() %>"><%- date(page.updated) %></time>
      <% } %>
    </p>
    <p>© <%- new Date().getFullYear() %> CloudPSS</p>
  <% } else { %>
    <p>Copyright © 2015-<%- new Date().getFullYear() %> by CloudPSS</p>
    <p>
      <%- link_to('http://www.miitbeian.gov.cn', '京ICP备16015429号-1', {external: true}) %>
    </p>
    <p>
      <%- link_to('http://www.eiri.tsinghua.edu.cn', '清华大学能源互联网创新研究院', {external: true}) %>
    </p>
  <% } %>
</div>
<!-- END footer -->