<!-- BEGIN header -->
<header id="header" class="page-header <%- page.type ? '' : 'no-menu'%>">
  <a class="menu-button mobile-header-button" id="mobile-menu-button" style="<%- page.type ? '' : 'display:none'%>"></a>
  <a class="toc-button mobile-header-button" id="mobile-toc-button" ></a>
  <a id="logo" href="<%- config.base_url %>" title="<%- config.title %>">
    <img src="<%- url_for("/images/logo.png") %>" alt="logo">
    <span><%= config.title %></span>
  </a>
  <nav id="nav">
    <div>
      <form id="search-form" onsubmit="return false">
        <input type="text" id="search-query" />
        <ul id="search-suggest" ></ul>
        <%- js('js/search') %>
      </form>
    </div>
    <div>
      <ul id="nav-toc">
        <%_ for (const key in site.data.sitemap) {_%>
          <li>
            <a href="<%- url_for(key + '/index.html') %>" class="nav-link <%- page.path.match(key+'/') ? 'current' : '' %>">
              <%= site.data.sitemap[key] %>
            </a>
          </li>
        <%_}_%>
      </ul>
    </div>
  </nav>
</header>
<!-- END header -->