<!-- BEGIN toc -->
<header>
  <%_ if (page.type){ -%>
    <h1><%- link_to(is_index() ? '#article' : url_for(`${page.lang}/${page.type}/`), site.data.sitemap[page.type].name[page.lang], {class: `sidebar-link ${is_index() ? ' current' : ''}`}) -%></h1>
  <%_ } -%>
</header>
<section>
  <%_
    
    const pages = site.pages.toArray()
      .filter(p => page.lang === p.lang)
      .filter(p => page.type ? (p.type === page.type && !is_index(p)) : p === page)
      .sort(function(a, b){
        var ao = a.order || Number.MAX_VALUE;
        var bo = b.order || Number.MAX_VALUE;
        if(ao !== bo)
          return ao - bo;
        return title(a).localeCompare(title(b));
      });
    
    function page_link(p)
    {
      if(page.path !== p.path)
      {
        -%><li><%- link_to(url_for(p.path), title(p)) %></li><%_
      }
      else
      {
        -%><li><%- link_to('#', title(p), {class: `current`}) %></li><%_
      }
    }
    
    function cate_link(cat, level)
    {
      const catname = cat.name[page.lang];
      -%><ul><h<%- level %>><%= catname %></h<%- level %>><%_
      
      if (cat.categories){
        cat.categories.forEach(c => cate_link(c, level + 1));
      } else if(cat.order){
        [ cat.order ].flat().forEach(o => pages.filter(p => Number(p.category) === o).forEach(page_link));
      }
      -%></ul><%_
    }
    
    pages.filter(p => Number.isNaN(Number(p.category))).forEach(page_link);
    
    const categories = page.type ? (site.data.sitemap[page.type].categories || []) : [];
    for(const cat of categories)
      cate_link(cat, 1);
  -%>
</section>
<!-- END toc -->
