<!-- BEGIN toc -->
<header>
  <%_ if (page.type){ -%>
    <h1><%- link_to(is_index() ? '#article' : url_for(page.type +'/'), site.data.sitemap[page.type].name, {class: `sidebar-link ${is_index() ? ' current' : ''}`}) -%></h1>
  <%_ } -%>
</header>
<section>
  <%_
    
    const pages = site.pages.toArray().filter(p => page.type ? (p.type === page.type && !is_index(p)) : p === page).sort(function(a, b){
      var ao = a.order || Number.MAX_VALUE;
      var bo = b.order || Number.MAX_VALUE;
      if(ao !== bo)
        return ao - bo;
      return title(a).localeCompare(title(b));
    });
    
    function page_link(p)
    {
      if(page.path !== p.path)
      {
        -%><li><%- link_to(url_for(p.path), title(p)) %></li><%_
      }
      else
      {
        -%><li><%- link_to('#', title(p), {class: `current`}) %></li><%_
      }
    }
    
    function cate_link(cat, level)
    {
      const catname = Object.getOwnPropertyNames(cat)[0];
      -%><ul><h<%- level %>><%= catname %></h<%- level %>><%_
      
      let content = cat[catname];
      if (!Array.isArray(content))
        content = [ content ];
        
      for(const child of content) 
      {
        if(typeof child === 'number')
          pages.filter(p => Number(p.category) === child).forEach(page_link);
        else
          cate_link(child, level + 1);
      }
      -%></ul><%_
    }
    
    pages.filter(p => Number.isNaN(Number(p.category))).forEach(page_link);
    
    const categories = page.type ? (site.data.sitemap[page.type].categories || []) : [];
    for(const cat of categories)
      cate_link(cat, 1);
  -%>
</section>
<!-- END toc -->
