<!DOCTYPE html>
<html lang="<%- config.language %>">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%- js('/js/browser-check') %>
    <meta name="theme-color" content="#4285F4">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-16x16.png') %>" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="<%- url_for('/images/icons/favicon.ico') %>">
    
    <%- open_graph({
      title: title() || config.title,
      type: 'article'
    }) -%>

    <%_ 
      const cdn = new URL('https://unpkg.com');
      function jscdn(path, canMinify = true)
      {
        const min = (!config.debug_mode && canMinify) ? '.min' : '';
        const url = new URL(`${path}${min}`, cdn);
        return js(url.href);
      }
      function csscdn(path, canMinify = true)
      {
        const min = (!config.debug_mode && canMinify) ? '.min' : '';
        const url = new URL(`${path}${min}`, cdn);
        return css(url.href);
      }
    -%>
    <title><%= title() ? title() + ' - ' : '' %><%= config.title %></title>
    <%- css('css/page') -%>
    <%- csscdn('katex@0.10.0-rc.1/dist/katex') -%>
    <%- jscdn('js-polyfills/polyfill') %>
    <%- jscdn('vue@^2/dist/vue') %>
    <script>window.PAGE_TYPE='<%- page.type %>';window.IS_INDEX=<%- is_index() %>;window.BASE='<%- config.base_url %>';</script>
  </head>

  <body>
    <%- partial('partials/header', { menu: page.sidebar !== false }) -%>
    <div id="main"><%- body -%></div>
    <%- jscdn('chart.js@^2/dist/Chart') -%>
    <%- jscdn('mermaid@^8/dist/mermaid') -%>
    <%- jscdn('fastclick@^1/lib/fastclick', false) -%>
    <%- js('/js/common') -%>
    <%- jscdn('mxgraph@3.7.1/javascript/mxClient') -%>
    <%- js('/js/mxGraph/Editor') -%>
    <%- js('/js/mxGraph/Graph') -%>
    <%- js('/js/mxGraph/Stencil') -%>
    <%- js('/js/mxGraph/Stencils') -%>
    <%- js('/js/mxGraph/Load') -%>
  </body>

</html>