<!DOCTYPE html>
<html lang="<%- config.language %>">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%- js('/js/browser-check') %>
    <meta name="theme-color" content="#4285F4">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-16x16.png') %>" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="<%- url_for('/images/icons/favicon.ico') %>">
    
    <%- open_graph({
      title: title() || config.title,
      type: 'article'
    }) -%>

    <title><%= title() ? title() + ' - ' : '' %><%= config.title %></title>
    <%- css('css/page') -%>
    <%- css('//cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css') -%>
    
    <script data-main="/js/config" src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
    <script data-main="/js/config" src="https://cdn.jsdelivr.net/npm/requirejs@2.3.6/require.min.js"></script>
    <script>const PAGE_TYPE='<%- page.type %>';const IS_INDEX=<%- is_index() %>;const IS_DEBUGGING = <%- config.debug_mode %>;</script>
  </head>

  <body>
    <%- partial('partials/header', { menu: page.sidebar !== false }) -%>
    <div id="main"><%- body -%></div>
    <%- config.debug_mode ? partial('partials/edit') : '' -%>
  <!--  <%- js('//cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js') -%>
    <%- js('//cdn.jsdelivr.net/npm/mermaid@8.0.0-rc.8/dist/mermaid.min.js') -%>
    <%- js('//cdn.jsdelivr.net/npm/fastclick@1/lib/fastclick.min.js') -%>
    <%- js('/js/common') -%>
    <%- js('//cdn.jsdelivr.net/npm/mxgraph@3.7.1/javascript/mxClient.min.js') -%>
    <%- js('/js/mxGraph/Editor') -%>
    <%- js('/js/mxGraph/Graph') -%>
    <%- js('/js/mxGraph/Stencil') -%>
    <%- js('/js/mxGraph/Stencils') -%>
    <%- js('/js/mxGraph/Load') -%>
    -->
    
    <script>require(['mxgraph-loader'])</script>
  </body>

</html>