<%
  page.mapped_title = '';
  var is_index = page.path.endsWith('index.html');
  if(page.type && !page.title && is_index)
    page.mapped_title = site.data.sitemap[page.type];
  else
    page.mapped_title = (page.title || '').trim()
%>
<!DOCTYPE html>
<html lang="<%- config.language %>">

  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#4285F4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-16x16.png') %>" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="<%- url_for('/images/icons/favicon.ico') %>">
    
    <%- open_graph({
      title: page.mapped_title || config.title,
      type: 'article'
    }) %>

    <title><%= page.mapped_title ? page.mapped_title + ' - ' : '' %><%= config.title %></title>
    <%- css('css/page') %>
    <%- css('//cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css') %>  
    <%- css('//use.fontawesome.com/releases/v5.2.0/css/all.css') %>
  
    <script>window.PAGE_TYPE = '<%- page.type %>'; window.IS_INDEX = <%- is_index %>;</script>
  </head>

  <body class="docs">
    <%- partial('partials/header') %>
    <div id="main">
      <%- body %>
    </div>
    
    <%- js('//cdn.jsdelivr.net/npm/fastclick@1/lib/fastclick.min.js') %>
    <script>
      document.addEventListener('DOMContentLoaded', function (){ FastClick.attach(document.body) }, false);
    </script> 
    <%- js('/js/common') %>
    <%- js('/js/browser-check') %>
  </body>

</html>