<!DOCTYPE html>
<html lang="<%- page.lang %>">

  <head>
    <meta charset="utf-8">
    <%_ 
      if(config.debug_mode === true) { 
        const tostr = (v, skip) => JSON.stringify(v, (k, v) => k.startsWith('_') || (skip && skip.includes(k)) ? undefined : v);
    -%>
      <script>
        const hexo = {
          config: <%- tostr(config) %>,
          theme: <%- tostr(theme) %>,
          path: <%- tostr(path) %>,
          url: <%- tostr(url) %>,
          env: <%- tostr(env) %>,
          page: <%- tostr(page, ['more', 'site', 'content', 'raw', 'prev', 'next']) %>,
          data: <%- tostr(site.data) %>,
        }
        console.dir(hexo);
      </script>
    <%_ } -%>
    <%- js('/js/browser-check') -%>
    <%_ if(config.debug_mode === false) { -%>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('<%- url_for("/sw.js") %>').then((registration) => {
          console.log('ServiceWorker has been registered! File generated at <%= full_date(Date.now()) %>', registration);
          registration.addEventListener('updatefound', () => {
            console.log('A new service worker is being installed.', registration);
          });
        }).catch(console.error);
      }
    </script>
    <%_ } -%>
    <meta name="theme-color" content="#4285F4">
    <link rel="manifest" href="<%- url_for('/manifest.json') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%- url_for('/images/icons/favicon-16x16.png') %>" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="<%- url_for('/favicon.ico') %>">
    <link rel="apple-touch-icon" href="<%- url_for('/images/icons/app-icon.png') %>">
    <link rel="apple-touch-startup-image" href="<%- url_for('/images/icons/splash.png') %>">
    
    <%- open_graph({
      title: title() || config.title,
      type: 'article'
    }) -%>
    <title><%= title() ? title() + ' - ' : '' %><%= config.title %></title>

    <%- css('css/page') -%>
    <%- css('css/' + page.lang) -%>
    <%- csscdn('katex@^0.11/dist/katex') -%>
    <%- jscdn('js-polyfills/polyfill') -%>
    <%- jscdn('vue@^2/dist/vue') -%> 

    <%- csscdn('custom-select@^1/build/custom-select', false) -%>
    <%- jscdn('custom-select@^1/build/custom-select.min', false) -%>
    <script>window.PAGE_TYPE='<%- page.type %>';window.IS_INDEX=<%- is_index() %>;window.BASE='<%- config.base_url %>'; localStorage.lang='<%- page.lang %>';</script>
  </head>

  <body>
    <%- partial('partials/header') -%>
    <%- partial('partials/sidebar') -%>
    <main class="<%- page.sidebar !== false ? 'with-sidebar' : '' %>">
      <div id="not-translated-hint">
        This topic has not been translated yet.
      </div>
      <%- body -%>
    </main>
    <%- partial('partials/footer') -%>
    
    <%- csscdn('photoswipe@^4/dist/photoswipe', false) -%>
    <%- csscdn('photoswipe@^4/dist/default-skin/default-skin', false) -%>
    <%- jscdn('photoswipe@^4/dist/photoswipe') -%>
    <%- jscdn('photoswipe@^4/dist/photoswipe-ui-default') -%>
    <%- partial('partials/pswp') -%>
    
    <%- jscdn('chart.js@^2/dist/Chart') -%>
    <%- jscdn('mermaid@^8/dist/mermaid') -%>
    <%- jscdn('fastclick@^1/lib/fastclick', false) -%>
    
    <%- js('/js/common') -%>
    
    <%- jscdn('mxgraph@3.7.1/javascript/mxClient') -%>
    <%- js('/js/mxGraph/Editor') -%>
    <%- js('/js/mxGraph/Graph') -%>
    <%- js('/js/mxGraph/Stencil') -%>
    <%- js('/js/mxGraph/Stencils') -%>
    <%- js('/js/mxGraph/Load') -%>
  </body>

</html>