<!-- BEGIN page -->
<%- partial('partials/sidebar', { hasSidebar: page.sidebar !== false}) %>

<article id="article" class="content <%- page.sidebar !== false ? 'with-sidebar' : '' %>">
  <% if (title()) { %>
    <section class="title">
      <h1><%= title() %></h1>
      <% if (!is_index()) { %>
        <p class="categories">
          <span class="type"><%= site.data.sitemap[page.type].name %></span>
          <% 
            const cate = [];
            if(page.categories)
            {
              let cate_ref = site.data.sitemap[page.type].categories;
              for(const key of page.categories)
              {
                cate.push(cate_ref[key].name);
                cate_ref = cate_ref[key].children;
              }
            }
            cate.forEach(name => { %><span role="separator"></span></span><span class="category"><%= name %></span><% });
          %>
        </p>
      <% } %>
    </section>
  <% } %>
  
  <%- page.content %>

  <%- partial('partials/footer', {min: !page.full_footer}) %>
</article>
<!-- END page -->
