<!-- BEGIN page -->
<%- partial('partials/sidebar', { hasSidebar: page.sidebar !== false}) _%>

<article id="article" class="content <%- page.sidebar !== false ? 'with-sidebar' : '' %>">
  <%_ if (title()) { _%>
    <section class="title"><h1><%= title() %></h1>
      <%_ if (!is_index()) { _%>
        <p class="categories">
          <span class="type"><%= site.data.sitemap[page.type].name %></span>
          <%_
            const cate = [];
            if(page.categories)
            {
              let cate_ref = site.data.sitemap[page.type].categories;
              for(const key of page.categories)
              {
                cate.push(cate_ref[key].name);
                cate_ref = cate_ref[key].children;
              }
            }
            cate.forEach(name => { _%><span role="separator"></span></span><span class="category"><%= name %></span><%_ });
          _%>
        </p>
      <%_ } _%>
    </section>
  <%_ } _%>

  <%- page.content _%>

  <%- partial('partials/footer', {min: !page.full_footer}) _%>
</article>
<!-- END page -->
