<!-- BEGIN page -->
<%- partial('partials/sidebar') %>

<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
  <% if (page.mapped_title && page.type) { %>
    <h1><%= page.mapped_title %></h1>
  <% } %>
  
  <%- page.content %>

  <%- partial('partials/footer', {min: !!page.type}) %>
</div>
<!-- END page -->
