<!-- BEGIN page -->
<%- partial('partials/sidebar', { hasSidebar: page.sidebar !== false}) -%>

<article id="article" class="content <%- page.sidebar !== false ? 'with-sidebar' : '' %>">
  <%_ if (title()) { -%>
    <section class="title"><h1><%= title() %></h1>
      <%_ if (!is_index()) { -%>
        <p class="categories">
          <%_ -%><span class="type"><%= site.data.sitemap[page.type].name %></span><%_ -%>
          <%_
            let cate = [];
            if (page.category && site.data.sitemap[page.type] && site.data.sitemap[page.type].categories && site.data.sitemap[page.type].categories[page.category])
              cate = site.data.sitemap[page.type].categories[page.category];
            cate.forEach(name => { -%><span role="separator"></span></span><span class="category"><%= name %></span><%_ });
          -%>
        </p>
      <%_ } -%>
    </section>
  <%_ } -%>

  <%- page.content -%>

  <%- partial('partials/footer', {min: !page.full_footer}) -%>
</article>
<!-- END page -->
