<!-- BEGIN post -->
<% if(page.path.endsWith('index.html')) { %>
  <script>window.location.href = '<%- url_for(site.posts.sort("date", -1).first().path) %>'</script>
<% } else { %>
  <aside class="sidebar blog">
    <div class="sidebar-inner">
      <div class="list">
        <h2>所有文章</h2>
        <ul style="padding: 0;">
          <% site.posts.sort('date', -1).each(function (post) { %>
            <li>
              <a href="/<%- post.path %>" class="sidebar-link <%- is_current(post.path) ? 'current' : '' %>"><%- post.title %></a>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </aside>
  <article id="article" class="content with-sidebar blog post">
    <section><h1><%= page.title %></h1></section>

    <%- page.content %>

    <%- partial('partials/footer', {min: !page.full_footer}) %>
  </article>
<% } %>
<!-- END post -->